.tag {
    display: inline-block;
    margin-right: 5px;
    border-radius: 20px;
}

.s {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 12px;
}

.m {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
}

.ghost {
    border: 1px solid var(--grey-light)
}

.red {
    font-weight: bold;
    color: var(--white);
    background: var(--red-accent);
}

.green {
    font-weight: bold;
    color: var(--green);
    background: var(--grey-light);
}

.primary {
    font-weight: bold;
    color: var(--primary);
    border: 1px solid var(--primary)
}
