:root {
  --black: #3B434E;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #6344DF;
  --red: #FC836D;
  --red-accent: #DE0000;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --grey-light: #EBEBEB;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-noto-sans) sans-serif;
  color: var(--black);
  background: var(--white);

}
